---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h1>404</h1>
	<p>Sorry! That page does not exist. It may have been removed or moved to a new section on the site. <a href="/">Click here</a> go back to the home page.</p>
</BaseLayout>

<style>
	h1 {
		text-align: center;
	}
</style>
