---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
        width: 576px;
				text-align: center;
      }
			.headshot {
				width: 200px;
				height: 200px;
				border-radius: 100px;
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<img src="/images/headshot.jpg" class="headshot">
			<p>
				I'm Tom, a Bristol-based web and mobile app developer, working primarily with React, React Native and node.js.
			</p>
			<p>
				You can find out more on the <a href="/about">About page</a>, or read my semi-regular posts on the <a href="/blog">Blog</a>.
			</p>
			<p>
				I'm available for hire on a contract basis - if your are looking for a developer to kick-start your project, or you need an extra pair of hands, please <a href="mailto:hello@tomspencer.dev">get in touch</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
