---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout noHeader>
  <header>
    <img
      src="/images/mugshot-wide-240x240.jpg"
      srcset="/images/mugshot-wide-240x240.jpg 1x,
              /images/mugshot-wide-480x480.jpg 2x,
              /images/mugshot-wide-720x720.jpg 3x"
      alt="Tom Spencer's Profile Picture" />
    <h1>Tom Spencer</h1>
  </header>
  <section class="info">
    <h2>Web and Mobile App developer from Bristol, UK.</h2>
  </section>
  <nav>
    <ul>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="mailto:hello@tomspencer.dev">Contact</a></li>
    </ul>
  </nav>
</BaseLayout>

<style is:global>
  main {
    width: 480px;
    text-align: center;
    padding: 2em 1em 1.5em;
  }
</style>

<style>
  header img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
  }
  header h1 {
    color: var(--accent-dark);
    font-size: 2em;
    margin-top: 0.7em;
  }
  section.info {
    margin-top: 20px;
  }
  section.info h2 {
    font-size: 1.4em;
  }
  nav {
    margin-top: 20px;
  }
  nav > ul  {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav > ul > li > a {
    font-size: 1.3em;
    text-decoration: none;
    color: var(--accent);
  }
</style>
