---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import ProjectDateRange from './ProjectDateRange.astro';

type Props = CollectionEntry<'experience'>;

const { data, render } = Astro.props;

const { Content } = await render();
---
<h3>{data.role}, {data.company.name}</h3>
<ProjectDateRange as="small" startDate={data.startDate} endDate={data.endDate} />
<Content />
