---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
	isActive?: boolean;
};

const { href, isActive, class: className, ...props } = Astro.props;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		color: var(--black)
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
